

.logo {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sp_100{
  border: solid rgb(50,205,50);
  margin: 0 auto;
  padding: 40px;
}
input.btn.sv_complete_btn{
  background-color: rgb(50,205,50);
  padding: 10px;
  font-size: large;
}
div.panel-footer.card-footer{
  background: none;
}

.App-header {
  background-color: #337AB7;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.surveyTitle {
  margin-top: 30px;
}
